<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mason Lauderdale</title>
    <script src="https://unpkg.com/htmx.org@1.9.5"
            integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/mystyle.css">
</head>
<body>
    <nav class="navbar is-fixed-top" role="navigation">
        <div class="navbar-brand ">
            <a class="navbar-item" hx-get="/" hx-target="body">
                <img src="https://raw.githubusercontent.com/mevanl/portfolio-site/main/website/static/logo.png"
                         alt="Mason Lauderdale">
            </a>
        </div>

        <div id="links" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item has-background-info" hx-get="/resume" hx-target="#content">
                    <img src="https://raw.githubusercontent.com/mevanl/portfolio-site/main/website/static/about.png" alt="">
                    &nbspAbout Me
                </a>
                <a class="navbar-item has-background-info" hx-get="/projects" hx-target="#content">
                    <img src="https://raw.githubusercontent.com/mevanl/portfolio-site/main/website/static/projects.png" alt="">
                    &nbspProjects
                </a>
                <a class="navbar-item has-background-info" hx-get="/contact" hx-target="#content">
                    <img src="https://raw.githubusercontent.com/mevanl/portfolio-site/main/website/static/resume.png" alt="">
                    &nbspContact

                </a>
            </div>
            <div class="navbar-end">
                <a class="navbar-item has-background-info" hx-get="/resume" hx-target="#content">
                    <button class="button is-rounded is-link">
                        <img src="https://raw.githubusercontent.com/mevanl/portfolio-site/main/website/static/resume.png" alt="">
                         &nbspResume
                    </button>
                </a>
            </div>
        </div>
    </nav>
    <section id="content">
        <section class="hero is-primary is-fullheight-with-navbar">
          <div class="hero-body">
            <div class="container has-text-centered">
              <p class="title is-size-1	">
                Mason Evan Lauderdale
              </p>
              <p class="subtitle is-size-4">
                  Junior Software Developer
              </p>
            </div>
          </div>
        </section>
    </section>
</body>
</html>