<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mason Lauderdale</title>
    <script src="https://unpkg.com/htmx.org@1.9.5"
            integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <nav class="navbar is-fixed-top" role="navigation">
        <div class="navbar-brand">
            <div class="navbar-item">
                <a hx-get="/" hx-target="body">
                    <img src="https://raw.githubusercontent.com/mevanl/portfolio-site/main/website/static/logo.jpg"
                         alt="Mason Lauderdale">
                </a>
            </div>
        </div>

        <div id="links" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" hx-get="/about" hx-target="#content">
                    About me
                </a>


            </div>
        </div>
    </nav>
    <div id="content"></div>
</body>
</html>